.lend-wrapp
    .logo
        img(src='./img/logo.png')

    .first-step(id='first-step').active
        .wheel
            .wheel-circle
                img(src='./img/circle.png')
            .wheel-main(id='wheel')
                img(src='./img/wheel.png')
            .wheel-btn.btn-spin
                img(src='./img/btn-spin.png')
                p SPIN
        .character
            img(src='./img/character.png')
        .information(id='information')
            .information__start.active.btn-spin
                img(src='./img/arrow.svg')
                span Try your luck. Spin the wheel
                img(src='./img/arrow.svg')
            .information__bonus.btn-spin
                p Your win: 200% deposit bonus
                p Try again
            .information__bonus-fs
                p Your win: 200% deposit bonus
                p 150 Free spins
        .spins
            | Spins left:
            p(id='spins') 2

    .second-step(id='second-step')
        .win-info
            p Congratulations!
            p.prize 200% deposit bonus
                span + 150 FreeSpins
            a(href='#') take bonus
        .character-win
            img(src='./img/character-win.png').desc
            img(src='./img/character-win-mob.png').mob
